<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-form-new-item (newItemEv)="addNewCity($event)" [label]="'city'" [className]="'btn-warning'"></app-form-new-item>
    </div>
    <div class="col-md-8">
      <!-- <p *ngIf="name">El nombre es {{name}}</p>
      <input type="text" [(ngModel)]="name"> -->
      <!-- <app-cities *ngFor="let city of cities" (click)="onClickCity($event)" [select]="select"></app-cities> -->
    </div>
    <div class="col-md-4">
      <div *ngIf="select">
        <p>Tu ciudad es {{select}}</p>
        <app-button (click)="onClear()" [label]="'Borrar selección'"></app-button>
      </div>
    </div>
  </div>
</div>
