
<!-- <div class="container">
  <div class="row">
    <div class="col-9">
      <app-contacto></app-contacto>
    </div>
    <div class="col-3"></div>
  </div>
</div> -->
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-9">
      <!-- <app-contac-reactive></app-contac-reactive> -->
      <router-outlet></router-outlet>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<!-- 
  PARA SUBIR A GITUP
  git add .
  git commit -m  "un mensaje de los cambios"
  git push
-->